In [9]:
import pandas as pd
import geopandas as gpd

In [11]:
df_clientes = pd.read_parquet('/home/oecorrechag/m6_fix/data/df_clientes.parquet.gzip')
df_clientes.head()

,id_cliente,sexo,edad,group,latitude,longitude,latitude2,longitude2
0,1011,0,26.966101,0,-34.744849,-58.328306,NaN,NaN
1,1026,1,28.789567,0,-34.736076,-58.279651,NaN,NaN
2,1094,0,27.426637,0,-34.722640,-58.455090,NaN,NaN
3,1107,0,23.518445,0,-34.692857,-58.486704,NaN,NaN
4,1121,1,27.319498,0,-34.642551,-58.450736,NaN,NaN

In [6]:
df_ba = gpd.read_file("/home/oecorrechag/m6_fix/data/df_ba.geojson")
df_ba.head()

,code,depto,provincia,barrios,geometry
0,1,Ciudad Autonoma de Buenos Aires,Ciudad Autonoma de Buenos Aires,Agronomia,"POLYGON ((-58.47597 -34.59192, -58.47712 -34.5..."
1,2,Ciudad Autonoma de Buenos Aires,Ciudad Autonoma de Buenos Aires,Almagro,"POLYGON ((-58.43334 -34.60268, -58.43224 -34.6..."
2,3,Ciudad Autonoma de Buenos Aires,Ciudad Autonoma de Buenos Aires,Balvanera,"POLYGON ((-58.39293 -34.59964, -58.39239 -34.6..."
3,4,Ciudad Autonoma de Buenos Aires,Ciudad Autonoma de Buenos Aires,Barracas,"MULTIPOLYGON (((-58.39589 -34.66185, -58.39591..."
4,5,Ciudad Autonoma de Buenos Aires,Ciudad Autonoma de Buenos Aires,Belgrano,"POLYGON ((-58.43771 -34.56251, -58.43843 -34.5..."